<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" rel="stylesheet"/>

    <script src= "https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales/es.js"></script>
    <title>Perfil</title>
    <link rel="icon" href="../static/img/MedEasyLogo.png">
  </head>
<body class="bg-gray-50 font-roboto">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg p-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/home" class="flex items-center">
          <img
            class="h-14 mr-2"
            src="../static/img/MedEasyLogo.png"
            alt="MedEasy logo"
          />
          <h1 class="text-4xl">edEasy</h1>
        </a>
        <div class="space-x-4">
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/home"
            >Inicio</a
          >
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/about"
            >Mas Informacion</a
          >
          {% if '_id' not in session %}
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/signin"
            >Iniciar/Incribirse</a
          >
          {% endif %} {% if '_id' in session %}
          <!-- Profile Dropdown -->
          <div class="relative inline-block text-left">
            <img
                class="h-10 w-10 rounded-full cursor-pointer"
                src="{% if 'user_type' in session and session['user_type'] == 'doctor' and 'photo' in session and session['photo'] %}data:image/jpeg;base64,{{ session['photo'].replace('\n', '') }}{% else %}../static/img/generic-user-pfp.png{% endif %}"
                onclick="toggleDropdown()"
                alt="Perfil"
            />
            <div
              id="profileDropdown"
              class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 z-10"
              style="display: none"
            >
              <a
                href="/profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Perfil</a
              >
              <a
                href="/signout"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Cerrar Sesion</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav> {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="mt-4 mx-4">
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <div class="mt-10 flex flex-col items-center">
        {% if doctor.photo %}
        <img src="data:image/jpeg;base64,{{ doctor.photo }}" alt="Imagen de Perfil" class="h-40 w-40 rounded-full border-4 border-indigo-400 mb-5">
        {% else %}
        <img src="{{ session['photo'] }}" alt="Imagen de Perfil" class="h-40 w-40 rounded-full border-4 border-indigo-400 mb-5">
        {% endif %}


        <h2 class="text-2xl font-semibold text-center mb-4">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h2>

        <!-- Contact Information -->
        <div class="bg-white p-6 rounded-lg shadow-xl max-w-3xl w-full text-gray-700 mb-6">
            <div class="flex justify-between items-center mb-4">
                <p class="font-medium text-lg">Correo Electronico:</p>
                <p>{{ doctor_email.email }}</p>
            </div>
            <div class="flex justify-between items-center mb-4">
                <p class="font-medium text-lg">Localizacion:</p>
                <p>{{ doctor.address }}</p>
            </div>
            <div class="flex justify-between items-center mb-4">
                <p class="font-medium text-lg">Telefono:</p>
                <p>{{ doctor.phone_number }}</p>
            </div>
        </div>

        <!-- Specialties and Medical Plans -->
        <div class="flex space-x-6 bg-white p-6 rounded-lg shadow-xl max-w-3xl w-full text-gray-700 mb-6">

            <!-- Specialties -->
            <div class="bg-white p-4 rounded-lg shadow-sm w-1/2">
                <p class="font-medium text-lg mb-4">Especialidad</p>
                <ul class="list-disc list-inside">
                    {% for specialty in doctor.specialties %}
                    <li class="mb-1">{{ specialty }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Medical Plans -->
            <div class="bg-white p-4 rounded-lg shadow-sm w-1/2">
                <p class="font-medium text-lg mb-4">Planes Medicos</p>
                <ul class="list-disc list-inside">
                    {% for plan in doctor.medical_coverages %}
                    <li class="mb-1">{{ plan }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Work Schedule -->
        <div class="bg-white p-6 rounded-lg shadow-xl max-w-3xl w-full text-gray-700 mb-6 space-y-4">
            <div class="flex justify-between items-center mb-4">
                <p class="font-medium text-lg">Dias Disponibles:</p>
                <p>{{ doctor.schedule.work_days|default([])|join(', ') }}</p>
            </div>
            <div class="flex justify-between items-center mb-4">
                <p class="font-medium text-lg">Hora de Entrada:</p>
                <p>{{ clock_in_time|default('N/A') }}</p>
            </div>
            <div class="flex justify-between items-center">
                <p class="font-medium text-lg">Hora de Salida:</p>
                <p>{{ clock_out_time|default('N/A') }}</p>
            </div>
        </div>

        <!-- Appointments Calendar -->
        <div class="mt-10 bg-white p-6 rounded-lg shadow-xl max-w-3xl w-full text-gray-700">
            <h2 class="text-2xl font-semibold mb-6 text-center">Citas Programadas</h2>
            <div id="doctorAppointmentsCalendar" class="w-full"></div>
        </div>

        <!-- Notifications & Buttons -->
        <div class="flex flex-wrap justify-center space-x-6 mt-6 text-center">
          <div class="bg-white p-6 rounded-lg shadow-xl max-w-xl w-full mb-6">
              <h3 class="font-semibold mb-4">Notificaciones</h3>
              {% if notifications|length == 0 %}
                  <p>No tiene notificationes al momento.</p>
              {% else %}
                  <table class="min-w-full divide-y divide-gray-200">
                      <tbody class="bg-white divide-y divide-gray-200">
                          {% for notification in notifications %}
                          <tr>
                              <td>{{ notification.message }}</td>
                              <td>
                                  <span 
                                  class="material-icons text-red-600 cursor-pointer hover:text-red-800" 
                                  title="Borrar Notificacion" 
                                  onclick="confirmDelete('{{ notification._id }}')"
                              >
                                  borrar
                              </span>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              {% endif %}
          </div>
      </div>

        <!-- Modify Profile Button -->
        <a href="/profile/edit" class="mt-8 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400">Editar Perfil</a>
    </div>
     
    <script>
    function toggleDropdown() {
        var dropdown = document.getElementById("profileDropdown");
        if (dropdown.style.display === "none" || dropdown.style.display === "") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
    </script>
    <!--Calendar Event View-->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('doctorAppointmentsCalendar');
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listDay',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'listDay,listWeek,listMonth'
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Día'
            },
            navLinks: true,
            eventColor: 'red',
            locale: 'es',
            eventTimeFormat: { 
                hour: '2-digit', 
                minute: '2-digit', 
                meridiem: 'short' 
            }
        });

        calendar.render();

        // Fetch and display the doctor's appointments on the calendar
        fetch('/schedule_events/{{ doc_id }}')
            .then(response => response.json())
            .then(events => {
                events = events.filter(event => event.color === "red"); // Filter out only red events (appointments)
                events.forEach(event => {
                    event.editable = false; 
                    event.selectable = false;

                    const startTime = new Date(event.start).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                    const endTime = new Date(event.end).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                    event.title = `${startTime}-${endTime}`;
                });
                calendar.addEventSource(events);
            });
    });
    </script>

    <!--Notification Delete-->
    <script>
      function confirmDelete(notificationId) {
          const initialConfirm = confirm("¿Está seguro de que desea borrar esta notificacion?");
          if (initialConfirm){
              fetch(`/delete_notification/${notificationId}`, {
                      method: 'POST'
                  }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message);
                            location.reload(); // Reload the page to reflect the changes
                        } else {
                            alert(data.message);
                        }
                    });
          }
      }
    </script>
</body>
</html>