<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile</title>
  </head>
<body class="bg-gray-50 font-roboto">
<div class="mt-10 flex flex-col items-center">
    <img src="{{ doctor.photo_url }}" alt="Profile Picture" class="h-40 w-40 rounded-full border-4 border-indigo-400 mb-5">
    <h2 class="text-2xl font-semibold text-center mb-4">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h2>

    <!-- Contact Information -->
    <div class="bg-white p-6 rounded-lg shadow-xl max-w-xl w-full text-gray-700 mb-6">
        <div class="mb-4">
            <p class="font-medium">Correo Electronico:</p>
            <p>{{ doctor_email.email }}</p>
        </div>
        <div class="mb-4">
            <p class="font-medium">Localizacion:</p>
            <p>{{ doctor.address }}</p>
        </div>
        <div class="mb-4">
            <p class="font-medium">Telefono:</p>
            <p>{{ doctor.phone_number }}</p>
        </div>
    </div>

    <!-- Specialties -->
    <div class="bg-white p-6 rounded-lg shadow-xl max-w-xl w-full text-gray-700 mb-6">
        <p class="font-medium text-lg mb-4">Especialidad:</p>
        <ul class="list-disc list-inside">
            {% for specialty in doctor.specialties %}
            <li class="mb-1">{{ specialty }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Medical Plans -->
    <div class="bg-white p-6 rounded-lg shadow-xl max-w-xl w-full text-gray-700 mb-6">
        <p class="font-medium text-lg mb-4">Planes Medicos:</p>
        <ul class="list-disc list-inside">
            {% for plan in doctor.medical_coverages %}
            <li class="mb-1">{{ plan }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Modify Profile Button -->
    <button class="mt-8 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400">Editar Perfil</button>
</div>
</body>
</html>