<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Profile</title>
  </head>
<body class="bg-gray-50 font-roboto">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg p-4">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/home">
                <img class="h-10" src="../static/images/MedEasy.svg" alt="MedEasy logo">
            </a>
            <div class="space-x-4">
                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200" href="/home">Home</a>
                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200" href="/about">About</a>
                {% if '_id' not in session %}
                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200" href="/signin">Sign In/Sign Up</a>
                {% endif %}
                {% if '_id' in session %}
                <!-- Profile Dropdown -->
                <div class="relative inline-block text-left">
                    <img class="h-10 w-10 rounded-full cursor-pointer" src="{{ session['image_path'] or '../static/images/generic-user-pfp.png' }}" onclick="toggleDropdown()" alt="Profile">
                    <div id="profileDropdown" class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 z-10" style="display: none;">
                        <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                        <a href="/signout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign Out</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
        <form method="post" action="/profile/edit" class="container mx-auto mt-10 bg-white p-8 rounded-lg shadow-md w-3/4 md:w-1/2">
                <!-- Email -->
                <div class="mb-4">
                    <label for="email" class="block mb-2 font-medium">Correo Electronico:</label>
                    <input type="email" name="email" value="{{ user.email }}" required class="w-full p-2 border rounded-md">
                </div>

                <!-- Phone Number -->
                <div class="mb-4">
                    <label for="phone_number" class="block mb-2 font-medium">Telefono:</label>
                    <input type="tel" name="phone_number" value="{{ user.payload.phone_number }}" required class="w-full p-2 border rounded-md">
                </div>

                <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400">Aplicar Cambios</button>
        </form>
</body>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("profileDropdown");
        if (dropdown.style.display === "none" || dropdown.style.display === "") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
</script>
</html>
