<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>MedEasy</title>
    <link rel="icon" href="../static/img/MedEasyLogo.png">
  </head>

  <body class="bg-gray-100 font-roboto">
    <!-- Navbar -->
    <nav class="bg-white shadow-lg p-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/home" class="flex items-center">
          <img
            class="h-14 mr-2"
            src="../static/img/MedEasyLogo.png"
            alt="MedEasy logo"
          />
          <h1 class="text-4xl">edEasy</h1>
        </a>
        <div class="space-x-4">
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/home"
            >Inicio</a
          >
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/about"
            >Mas Informacion</a
          >
          {% if '_id' not in session %}
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/signin"
            >Iniciar/Incribirse</a
          >
          {% endif %} {% if '_id' in session %}
          <!-- Profile Dropdown -->
          <div class="relative inline-block text-left">
            <img
                class="h-10 w-10 rounded-full cursor-pointer"
                src="{% if 'user_type' in session and session['user_type'] == 'doctor' and 'photo' in session and session['photo'] %}data:image/jpeg;base64,{{ session['photo'].replace('\n', '') }}{% else %}../static/img/generic-user-pfp.png{% endif %}"
                onclick="toggleDropdown()"
                alt="Perfil"
            />
            <div
              id="profileDropdown"
              class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 z-10"
              style="display: none"
            >
              <a
                href="/profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Perfil</a
              >
              <a
                href="/signout"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Cerrar Sesion</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav> {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="mt-4 mx-4">
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

        <!-- Main Content -->
      <div class="flex mt-10 mx-10 h-[calc(100vh-60px)]">

        <!-- Search Form -->
        <form
            class="w-2/5 p-8 bg-white shadow-md rounded-md overflow-y-auto flex flex-col" 
            method="post"
            action="/home"
        >
        <!-- Increase padding -->
        <div class="flex space-x-6 items-center mb-6">
          <!-- Increase space between elements -->
          <span class="material-icons text-gray-500">search</span>
          <input
            class="flex-1 p-2 rounded border border-gray-300 focus:border-blue-500 focus:outline-none"
            type="search"
            name="doctor-name"
            placeholder="Buscar Doctor..."
          />
        </div>
        <select
          class="w-full p-2 mb-6 rounded border border-gray-300 focus:border-blue-500 focus:outline-none"
          name="doctor-specialty"
        >
          <!-- Increase margin-bottom -->
          <option value="">Todo</option>
          {% for specialty in specialties %}
          <option value="{{ specialty }}">{{ specialty }}</option>
          {% endfor %}
        </select>
        <button
          class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700"
          type="submit"
        >
          Buscar
        </button>
      <div class="doctor-list-container flex-1">
        <div class="mt-6">
          {% for user in users %}
          <a href="/schedule/{{ user['_id'] }}" class="block border p-4 my-2 rounded shadow doctor-link">
              <div class="flex items-center">
                  <img
                    src="{% if user.payload['photo'] %}data:image/jpeg;base64,{{ user.payload['photo'] }}{% else %}../static/img/generic-user-pfp.png{% endif %}"
                    class="h-14 w-14 rounded-full mr-4"
                    alt="Imagen de Perfil"
                    />
                  <div>
                      <h2 class="text-xl font-semibold">
                          Dr. {{ user.payload['first_name'] }} {{ user.payload['last_name'] }}
                      </h2>
                      <p class="text-gray-600">
                          {% for specialty in user.payload['specialties'] %} {{ specialty }} {% endfor %}
                      </p>
                  </div>
              </div>
          </a>
          {% endfor %}
      </div>
    </div>
      </form>

      <div class="w-3/5 p-8 rounded-md ml-6">
          <h1 class="text-5xl mb-8 font-semibold text-center">Acerca de Nosotros</h1>
          <p class="text-gray-700 leading-relaxed mb-4 indent-paragraph text-center">
            MedEasy es una plataforma diseñada para cerrar la brecha entre pacientes y médicos. Nuestra misión es simplificar el proceso de reserva de citas y facilitar a los pacientes la búsqueda de los mejores profesionales médicos ajustados a sus necesidades.Ya sea que estés buscando un médico general o un especialista, MedEasy ofrece perfiles médicos completos, disponibilidad en tiempo real y un sistema de reserva de citas intuitivo. Más allá de la utilidad, garantizamos un alto estándar de privacidad y seguridad de datos. Todos tus registros médicos e información personal están cifrados y almacenados de manera segura.
          </p>
          <div class="about-section my-6 p-4 rounded shadow-md">
            <h2 class="text-3xl mt-8 mb-4 font-semibold text-center">¿Por Qué Elegirnos?
            </h2>
            <ul class="list-disc pl-8 mb-4">
                <li class="mb-2">Interfaz amigable con navegación fluida.</li>
                <li class="mb-2">Disponibilidad médica en tiempo real y reserva instantánea.</li>
                <li class="mb-2">Perfiles médicos completos con reseñas de pacientes.</li>
                <li class="mb-2">Almacenamiento seguro de información personal.</li>
                <li class="mb-2">Soporte al cliente amigable siempre listo para ayudar.</li>
            </ul>
          </div>
          <div class="about-section my-6 p-4 rounded shadow-md">
            <h2 class="text-3xl mt-8 mb-4 font-semibold text-center">Nuestro Compromiso
            </h2>
            <p class="text-gray-700 leading-relaxed mb-4 indent-paragraph text-center">
                Nacidos y criados en Puerto Rico, entendemos profundamente los desafíos que enfrenta nuestro sistema de salud. A través de MedEasy, no solo buscamos ofrecer una solución tecnológica, sino también contribuir al bienestar y salud de nuestra gente. Trabajamos con médicos y profesionales de salud de la isla, buscando constantemente maneras de mejorar y adaptar nuestra plataforma a las necesidades únicas de nuestra comunidad.
            </p>
          </div>
          <div class="about-section my-6 p-4 rounded shadow-md">
            <h2 class="text-3xl mt-8 mb-4 font-semibold text-center">Equipo de MedEasy
            </h2>
            <ul class="list-disc pl-8 mb-4">
                <li class="mb-2"><strong>Carlos Rodríguez Sánchez</strong>: Con experiencia en planificación y documentación, Carlos lidera nuestra visión y estrategia.</li>
                <li class="mb-2"><strong>Ricardo Rodríguez-González</strong>: Nuestro experto en diseño UI y UX, Ricardo asegura que tu experiencia en MedEasy sea fluida y agradable.</li>
                <li class="mb-2"><strong>Victor Vega Ward</strong>: Como administrador de base de datos, Víctor garantiza la integridad y seguridad de toda la información que confías en nuestra plataforma.</li>
            </ul>
          </div>
          <p class="text-gray-700 leading-relaxed mb-4 text-center">
            Gracias por confiar en nosotros y ser parte de este viaje hacia un acceso a la salud más fácil y eficiente para todos en Puerto Rico.
          </p>
  
          <h2 class="text-3xl mt-8 mb-4 font-semibold text-center">¡Bienvenido a MedEasy!
          </h2>
      </div>
      <!-- Google Map 
      <div class="w-2/3 ml-10 h-[calc(100vh-60px)] flex-none">
          <div class="h-full bg-gray-300 rounded-md shadow-md" id="map"></div>
      </div>
-->
   
    <script src="../static/js/script.js"></script>
 <!-- JS Scripts 
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL27RuRr9Z-AtwVnvYpET0rHTmYcR6IQ0&callback=initMap"
    ></script>
-->
    <!-- JS to handle dropdown display -->
    <script>
      document
        .querySelector(".rounded-full")
        .addEventListener("click", function () {
          const dropdown = document.getElementById("profileDropdown");
          dropdown.style.display =
            dropdown.style.display === "none" ? "block" : "none";
          event.stopPropagation();
        });
    </script>

    <!-- Script to handle un-registered users. -->
    <script>
    const doctors = document.querySelectorAll('.doctor-link');
        
    doctors.forEach(doc => {
        doc.addEventListener('click', function(e) {
            {% if not logged_in or user_role != 'patient' %}
                e.preventDefault();  // Stop the regular link behavior
                alert('Por favor inicie session como paciente para sacar una cita.');
            {% endif %}
        });
    });
    </script>


  </body>
</html>
