<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Perfil</title>
    <link rel="icon" href="../static/img/MedEasyLogo.png">
  </head>
<body class="bg-gray-50 font-roboto">
        <!-- Navbar -->
    <nav class="bg-white shadow-lg p-4">
      <div class="container mx-auto flex items-center justify-between">
        <a href="/home" class="flex items-center">
          <img
            class="h-14 mr-2"
            src="../static/img/MedEasyLogo.png"
            alt="MedEasy logo"
          />
          <h1 class="text-4xl">edEasy</h1>
        </a>
        <div class="space-x-4">
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/home"
            >Inicio</a
          >
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/about"
            >Mas Informacion</a
          >
          {% if '_id' not in session %}
          <a
            class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded hover:bg-gray-200"
            href="/signin"
            >Iniciar/Incribirse</a
          >
          {% endif %} {% if '_id' in session %}
          <!-- Profile Dropdown -->
          <div class="relative inline-block text-left">
            <img
                class="h-10 w-10 rounded-full cursor-pointer"
                src="{% if 'user_type' in session and session['user_type'] == 'doctor' and 'photo' in session and session['photo'] %}data:image/jpeg;base64,{{ session['photo'].replace('\n', '') }}{% else %}../static/img/generic-user-pfp.png{% endif %}"
                onclick="toggleDropdown()"
                alt="Perfil"
            />
            <div
              id="profileDropdown"
              class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 z-10"
              style="display: none"
            >
              <a
                href="/profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Perfil</a
              >
              <a
                href="/signout"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Cerrar Sesion</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<div class="mt-10 flex flex-col items-center space-y-6">
    <h2 class="text-2xl font-semibold text-center mb-4">{{ user.payload.first_name }} {{ user.payload.last_name }}</h2>
    <!-- <div class="bg-white p-6 rounded-lg shadow-xl max-w-2xl w-full">
        <div class="mb-4 text-center">
            <p class="font-medium">Correo Electronico:</p>
            <p>{{ user.email }}</p>
        </div>
        <div class="mb-6 text-center">
            <p class="font-medium">Numero de Telefono:</p>
            <p>{{ user.payload.phone_number }}</p>
        </div>
    </div> -->

    <!-- Appointments table -->
    <div class="bg-white p-6 rounded-lg shadow-xl max-w-4xl w-full"> <!-- Changed max-width from max-w-2xl to max-w-4xl -->
        <h3 class="font-semibold mb-4 text-center">Citas Activas</h3>
        {% if appointments|length == 0 %}
            <p style="text-center">No tiene citas pendientes.</p>
        {% else %}
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
              <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Fecha</th> <!-- Updated padding and added align-middle -->
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Hora</th> <!-- Updated padding and added align-middle -->
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Localizacion</th> <!-- Updated padding and added align-middle -->
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Doctor</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Telefono</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase align-middle">Acciones</th>
              </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
              {% for appointment in appointments %}
              <tr>
                  <td class="px-6 py-4 align-middle">{{ appointment.date }}</td>
                  <td class="px-6 py-4 align-middle">{{ appointment.time }}</td>
                  <td class="px-6 py-4 align-middle">{{ appointment.location }}</td>
                  <td class="px-6 py-4 align-middle">{{ appointment.doctor_name }}</td>
                  <td class="px-6 py-4 align-middle">{{ appointment.phone }}</td>
                  <td class="px-6 py-4 align-middle">
                      <span class="material-icons text-blue-600 cursor-pointer hover:text-blue-800 mr-4" title="Cambiar Cita">
                          <a href="/schedule/{{ appointment.doctor_id }}">
                              edit
                          </a>
                      </span>
                      <span 
                          class="material-icons text-red-600 cursor-pointer hover:text-red-800" 
                          title="Cancelar Cita" 
                          onclick="confirmCancel('{{ appointment._id }}')"
                      >
                          cancel
                      </span>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>


    <!-- Notifications & Buttons -->
    <div class="flex flex-wrap justify-center space-x-6 mt-6 text-center">
        <div class="bg-white p-6 rounded-lg shadow-xl max-w-xl w-full mb-6">
            <h3 class="font-semibold mb-4">Notificaciones</h3>
            <p>Prontamente!</p>
        </div>
        <!-- <div class="space-y-4">
            <a href="/home" class="block w-full text-center bg-emerald-500 text-white rounded px-4 py-2 hover:bg-emerald-600">Encontrar Citas</a>
            <a href="" class="block w-full text-center bg-gray-300 text-white rounded px-4 py-2">Citas Previas (Coming Soon)</a>
        </div> -->
    </div>

    <!-- Modify Profile Button -->
    <a href="/profile/edit" class="mt-8 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400">Editar Perfil</a>
</div>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("profileDropdown");
        if (dropdown.style.display === "none" || dropdown.style.display === "") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
</script>

<!--Appointment Cancel-->
<script>
    function confirmCancel(appointmentId) {
        const initialConfirm = confirm("¿Está seguro de que desea cancelar esta cita?");
        if (initialConfirm) {
            const secondConfirm = confirm("Cancelar una cita significa que perderá el espacio. ¿Está seguro?");
            if (secondConfirm) {
                fetch(`/cancel_appointment/${appointmentId}`, {
                    method: 'POST'
                }).then(response => response.json())
                  .then(data => {
                      if (data.success) {
                          alert(data.message);
                          location.reload(); // Reload the page to reflect the changes
                      } else {
                          alert(data.message);
                      }
                  });
            }
        }
    }
</script>

</body>
</html>