<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Whisper&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>MedEasy/Inscribirse</title>
    <link rel="icon" href="../static/img/MedEasyLogo.png">
  </head>

  <body class="bg-gray-100 h-screen">
    <div class="container mx-auto px-4 h-full">
      <!-- Navbar -->
        <div class="navbar mb-10">
            <a href="/">
                <img class="mx-auto my-8 w-32" src="../static/img/MedEasyLogo.png" alt="MedEasy logo">
            </a>
        </div>
      <!-- Form Content-->
      <div class="flex justify-center">
        <div class="bg-white w-full max-w-md rounded-lg shadow-md p-8">
          <div id="signup-form">
            <h2 class="font-semibold text-xl mb-6 text-center">Inscribirse</h2>
            <div class="mb-6">
              <span class="font-medium block mb-2">Tipo de Cuenta:</span>
              <button
                type="button"
                id="patient-btn"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mr-4"
                data-account-type="patient"
              >
                Paciente
              </button>
              <button
                type="button"
                id="doctor-btn"
                class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400"
                data-account-type="doctor"
              >
                Doctor
              </button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- Patient Sign Up Form -->
            <div id="patient-fields" style="display: none">
              <form
                method="post"
                action="/signup"
                class="space-y-6"
                enctype="multipart/form-data"
              >
                <!-- Hidden Input for Patient Account Type -->
                <input type="hidden" name="accountType" value="patient" />

                <!-- ... Patient-specific fields ... -->
                <div class="mb-4">
                  <label for="patient_first_name">Nombre:</label>
                  <input
                    type="text"
                    id="patient_first_name"
                    name="patient_first_name"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <div class="mb-4">
                  <label for="patient_last_name">Apellido:</label>
                  <input
                    type="text"
                    id="patient_last_name"
                    name="patient_last_name"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <div class="mb-4">
                  <label for="patient_phone_number">Telefono:</label>
                  <input
                    type="tel"
                    id="patient_phone_number"
                    name="patient_phone_number"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <div>
                  <label for="signup-email" class="block mb-2 font-medium"
                    >Correo Electronico:</label
                  >
                  <input
                    type="email"
                    id="signup-email"
                    name="email"
                    required
                    class="w-full p-2 border rounded"
                  />
                </div>

                <div class="relative">
                  <label
                    for="patient-signup-password"
                    class="block mb-2 font-medium"
                    >Contraseña:</label
                  >
                  <input
                    type="password"
                    id="patient-signup-password"
                    name="password"
                    required
                    class="w-full p-2 border rounded"
                  />
                  <span
                    toggle="#patient-signup-password"
                    class="material-icons toggle-password absolute top-1/2 right-3 cursor-pointer"
                    >visibility_off</span
                  >
                </div>

                <!-- Create Account button for Patient -->
                <div>
                  <input
                    class="cursor-pointer w-full bg-blue-500 text-white p-2 rounded"
                    type="submit"
                    value="Crear Cuenta"
                  />
                </div>

                <div class="text-center mt-4">
                  <span>Tiene cuenta? </span>
                  <a href="/signin" class="text-blue-500 hover:underline"
                    >Sign In</a
                  >
                </div>
              </form>
            </div>

            <!-- Doctor Sign Up Form -->
            <div id="doctor-fields" style="display: none">
              <form
                method="post"
                action="/signup"
                class="space-y-6"
                enctype="multipart/form-data"
              >
                <!-- Hidden Input for Patient Account Type -->
                <input type="hidden" name="accountType" value="doctor" />
                <!-- ... Doctor-specific fields ... -->
                <div class="mb-4">
                  <label for="first_name">Nombre:</label>
                  <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <div class="mb-4">
                  <label for="last_name">Apellido:</label>
                  <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                  <div class="mb-4">
                      <label for="address1">Direccion:</label>
                      <input
                          type="text"
                          id="address1"
                          name="address1"
                          required
                          class="w-full p-2 border rounded-md"
                      />
                  </div>
                  <div class="mb-4">
                    <label for="pueblo">Pueblo:</label>
                    <div class="dropdown-pueblo relative">
                      <button class="w-full bg-gray-200 text-left px-4 py-2 rounded border focus:outline-none focus:ring" id="dropdownButtonPueblo">
                        Seleccionar Pueblo
                        <span class="material-icons absolute right-3 top-1/2 transform -translate-y-1/2">keyboard_arrow_down</span>
                      </button>
                      <div class="dropdown-menu-pueblo absolute w-full mt-2 hidden border rounded bg-white shadow-md z-10" style="max-height: 150px; overflow-y: auto;">
                        <!-- Pueblo checkbox options -->
                        {% for municipality in municipalities %}
                          <label class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">
                            <input type="checkbox" name="pueblo" value="{{ municipality }}" class="mr-2" />
                            {{ municipality }}
                          </label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                      <label for="zip_code">Zip Code:</label>
                      <input
                          type="text"
                          id="zip_code"
                          name="zip_code"
                          required
                          class="w-full p-2 border rounded-md"
                      />
                  </div>

                  <div class="mb-4">
                  <label for="phone_number">Telefono:</label>
                  <input
                    type="tel"
                    id="phone_number"
                    name="phone_number"
                    required
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <!-- Specialties Dropdown -->
                <div class="dropdown mb-4 relative">
                  <label for="specialties" class="block mb-2 font-medium"
                    >Especialidad:</label
                  >
                  <button
                      class="w-full bg-gray-200 text-left px-4 py-2 rounded border focus:outline-none focus:ring"
                      id="dropdownButtonSpecialties"
                  >
                      <span class="selected-values">Seleccionar Especialidad</span>
                      <span
                          class="material-icons absolute right-3 top transform -translate-y"
                          >keyboard_arrow_down</span
                      >
                  </button>
                  <div
                    class="dropdown-menu-specialties absolute w-full mt-2 hidden border rounded bg-white shadow-md z-10"
                  >
                    <!-- Specialty checkbox options -->
                    {% for specialty in specialties %}
                    <label
                      class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                    >
                      <input
                        type="checkbox"
                        name="specialties[]"
                        value="{{ specialty }}"
                        class="mr-2"
                      />
                      {{ specialty }}
                    </label>
                    {% endfor %}
                  </div>
                </div>

                <!-- Medical Coverages Dropdown -->
                <div class="dropdown mb-4 relative">
                    <label for="medical_coverages" class="block mb-2 font-medium">Planes Medicos:</label>
                    <button
                        class="w-full bg-gray-200 text-left px-4 py-2 rounded border focus:outline-none focus:ring"
                        id="dropdownButtonMedicalCoverages"
                    >
                        <span class="selected-values">Seleccionar Planes Medicos</span>
                        <span
                            class="material-icons absolute right-3 top transform -translate-y"
                            >keyboard_arrow_down</span
                        >
                    </button>
                    <div class="dropdown-menu-medicalcoverages absolute w-full mt-2 hidden border rounded bg-white shadow-md z-10">
                        <!-- Medical Coverages checkbox options -->
                        {% for coverage in medical_coverages %}
                        <label class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">
                            <input type="checkbox" name="medical_coverages[]" value="{{ coverage }}" class="mr-2" />
                            {{ coverage }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Work Days Dropdown -->
                <div class="dropdown mb-4 relative">
                    <label for="work_days" class="block mb-2 font-medium">Días de Trabajo:</label>
                    <button
                        class="w-full bg-gray-200 text-left px-4 py-2 rounded border focus:outline-none focus:ring"
                        id="dropdownButtonWorkDays"
                    >
                        <span class="selected-values">Seleccionar Días de Trabajo</span>
                        <span
                            class="material-icons absolute right-3 top transform -translate-y"
                            >keyboard_arrow_down</span
                        >
                    </button>

                    <div class="dropdown-menu-workdays absolute w-full mt-2 hidden border rounded bg-white shadow-md z-10">
                        <!-- Work days checkbox options -->
                        {% for day in work_days %}
                        <label class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">
                            <input type="checkbox" name="work_days[]" value="{{ day }}" class="mr-2" />
                            {{ day }}
                        </label>
                        {% endfor %}
                    </div>
                </div>


                <!-- Clock-in Time -->
                <div class="mb-4">
                    <label for="clock_in" class="block mb-2 font-medium">Hora de Entrada:</label>
                    <input type="time" id="clock_in" name="clock_in" required class="w-full p-2 border rounded-md"/>
                </div>

                <!-- Clock-out Time -->
                <div class="mb-4">
                    <label for="clock_out" class="block mb-2 font-medium">Hora de Salida:</label>
                    <input type="time" id="clock_out" name="clock_out" required class="w-full p-2 border rounded-md"/>
                </div>

                <div>
                  <label for="signup-email" class="block mb-2 font-medium"
                    >Correo Electronico:</label
                  >
                  <input
                    type="email"
                    id="signup-email"
                    name="email"
                    required
                    class="w-full p-2 border rounded"
                  />
                </div>

                <div class="relative">
                  <label
                    for="doctor-signup-password"
                    class="block mb-2 font-medium"
                    >Contraseña:</label
                  >
                  <input
                    type="password"
                    id="doctor-signup-password"
                    name="password"
                    required
                    class="w-full p-2 border rounded"
                  />
                  <span
                    toggle="#doctor-signup-password"
                    class="material-icons toggle-password absolute top-1/2 right-3 cursor-pointer"
                    >visibility_off</span
                  >
                </div>

                <div class="mb-4">
                  <label for="photo">Foto de Perfil</label>
                  <input
                    type="file"
                    id="photo"
                    name="photo"
                    accept="img/*"
                    class="w-full p-2 border rounded-md"
                  />
                </div>

                <!-- Create Account button for Doctor -->
                <div>
                  <input
                    class="cursor-pointer w-full bg-blue-500 text-white p-2 rounded"
                    type="submit"
                    value="Crear Cuenta"
                  />
                </div>

                <div class="text-center mt-4">
                  <span>Tiene cuenta? </span>
                  <a href="/signin" class="text-blue-500 hover:underline"
                    >Iniciar Sesion</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Existing referrer logic
        const referrer = document.referrer;
        if (referrer && referrer.includes("/signin")) {
          document.getElementById("patient-btn").click();
        } else {
          // Make "patient" button default if not coming from "/signin"
          document.getElementById("patient-btn").click();
        }
      });

      // Account type switching using buttons
      document
        .getElementById("patient-btn")
        .addEventListener("click", function () {
          setActiveButton(this, "patient");
        });

      document
        .getElementById("doctor-btn")
        .addEventListener("click", function () {
          setActiveButton(this, "doctor");
        });

      function setActiveButton(btn, type) {
        // First reset both button styles
        document
          .getElementById("patient-btn")
          .classList.add("bg-gray-300", "text-black", "hover:bg-gray-400");
        document
          .getElementById("patient-btn")
          .classList.remove("bg-blue-500", "text-white", "hover:bg-blue-600");

        document
          .getElementById("doctor-btn")
          .classList.add("bg-gray-300", "text-black", "hover:bg-gray-400");
        document
          .getElementById("doctor-btn")
          .classList.remove("bg-blue-500", "text-white", "hover:bg-blue-600");

        // Set active button
        btn.classList.add("bg-blue-500", "text-white", "hover:bg-blue-600");
        btn.classList.remove("bg-gray-300", "text-black", "hover:bg-gray-400");

        if (type === "patient") {
          document.getElementById("patient-fields").style.display = "block";
          document.getElementById("doctor-fields").style.display = "none";

          // Set required attributes for patient fields and remove for doctor fields
          [
            "patient_first_name",
            "patient_last_name",
            "patient_phone_number",
          ].forEach((el) =>
            document.getElementById(el).setAttribute("required", true)
          );
          ["first_name", "last_name", "address", "phone_number"].forEach((el) =>
            document.getElementById(el).removeAttribute("required")
          );
        } else {
          document.getElementById("doctor-fields").style.display = "block";
          document.getElementById("patient-fields").style.display = "none";

          // Set required attributes for doctor fields and remove for patient fields
          ["first_name", "last_name", "address", "phone_number"].forEach((el) =>
            document.getElementById(el).setAttribute("required", true)
          );
          [
            "patient_first_name",
            "patient_last_name",
            "patient_phone_number",
          ].forEach((el) =>
            document.getElementById(el).removeAttribute("required")
          );
        }
      }

      // Toggle visibility of password
      document.querySelectorAll(".toggle-password").forEach(function (toggle) {
        toggle.addEventListener("click", function (e) {
          const icon = e.currentTarget;
          const input = document.querySelector(icon.getAttribute("toggle"));

          if (input.type === "password") {
            input.type = "text";
            icon.textContent = "visibility";
          } else {
            input.type = "password";
            icon.textContent = "visibility_off";
          }
        });
      });

      // Dropdown logic for specialties and medical coverages
      ["Specialties", "MedicalCoverages", "WorkDays"].forEach((type) => {
        document
          .getElementById(`dropdownButton${type}`)
          .addEventListener("click", function () {
            const menu = document.querySelector(
              `.dropdown-menu-${type.toLowerCase()}`
            );
            menu.classList.toggle("hidden");

            // Update arrow icon
            const icon = this.querySelector(".material-icons");
            if (menu.classList.contains("hidden")) {
              icon.textContent = "keyboard_arrow_down";
            } else {
              icon.textContent = "keyboard_arrow_up";
            }
          });

        const checkboxes = document.querySelectorAll(
          `.dropdown-menu-${type.toLowerCase()} input[type="checkbox"]`
        );
        checkboxes.forEach((checkbox) => {
          checkbox.addEventListener("change", function () {
            const selectedValues = [];
            checkboxes.forEach((cbox) => {
              if (cbox.checked) {
                selectedValues.push(cbox.parentNode.textContent.trim());
              }
            });
            document.getElementById(`dropdownButton${type}`).querySelector('.selected-values').textContent = selectedValues.join(", ") || `Seleccionar ${type}`;

          });
        });
      });

      // Dropdown logic for "Pueblo" dropdown
      document
        .getElementById("dropdownButtonPueblo")
        .addEventListener("click", function () {
          const menu = document.querySelector(".dropdown-menu-pueblo");
          menu.classList.toggle("hidden");

          // Update arrow icon
          const icon = this.querySelector(".material-icons");
          if (menu.classList.contains("hidden")) {
            icon.textContent = "keyboard_arrow_down";
          } else {
            icon.textContent = "keyboard_arrow_up";
          }
        });

      const puebloCheckboxes = document.querySelectorAll(".dropdown-menu-pueblo input[type='checkbox']");
      puebloCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
          puebloCheckboxes.forEach((cbox) => {
            if (cbox !== checkbox) {
              cbox.checked = false;
            }
          });
          updatePuebloButtonText();
        });
      });

      function updatePuebloButtonText() {
        const selectedValues = [];
        puebloCheckboxes.forEach((cbox) => {
          if (cbox.checked) {
            selectedValues.push(cbox.parentNode.textContent.trim());
          }
        });
        document.getElementById("dropdownButtonPueblo").textContent =
          selectedValues.length > 0 ? selectedValues[0] : "Choose a Pueblo";
      }

      // Clicking outside of the "Pueblo" dropdown should close it
      document.addEventListener("click", function (event) {
        const dropdown = document.querySelector(".dropdown-menu-pueblo");
        const button = document.getElementById("dropdownButtonPueblo");
        if (!button.contains(event.target) && !dropdown.contains(event.target)) {
          dropdown.classList.add("hidden");
          button.querySelector(".material-icons").textContent = "keyboard_arrow_down";
        }
      });


      // Clicking outside of dropdowns should close them
      document.addEventListener("click", function (event) {
        ["Specialties", "MedicalCoverages", "WorkDays"].forEach((type) => {
          const dropdown = document.querySelector(
            `.dropdown-menu-${type.toLowerCase()}`
          );
          const button = document.getElementById(`dropdownButton${type}`);
          if (
            !button.contains(event.target) &&
            !dropdown.contains(event.target)
          ) {
            dropdown.classList.add("hidden");
            button.querySelector(".material-icons").textContent =
              "keyboard_arrow_down";
          }
        });
      });
    </script>
  </body>
</html>
